/*
colors:
bg:		#edd3a4
middle: #e8c587
border:	#d6ad63
*/

html {
	font: 14px Arial, sans-serif;
}

/* background */
body {
	background: url('bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

/* various headers */
h2 {
	font: 160px Arial, sans-serif;
	color: white;
	margin: 2%;
}

h3 {
	font: 48px Arial, sans-serif;
	color: black;
	font-weight: bold;
	margin: 2px;
}

h5 {
	font: 40px Arial, sans-serif;
	color: white;
	margin: 2%;
}

h6 {
	font: 20px Arial, sans-serif;
	color: black;
	width: 100%;
	margin: auto;
}

p {
	font: 16px Arial, sans-serif;
	color: black;
	margin: 2px;
	text-align: justify;
	text-justify: inter-word;
}

p.extramargin {
	margin: 2px 20% 2px 20%;
}

/* site sections */
div.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

div.center-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
}

div.column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px;
}

div.block {
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px;
	padding: 10px;
	margin: 0.5%;
}

div.course-block {
	background-color: #e8c587;
	border: 2px solid #d6ad63;
	border-radius: 8px;
	padding: 10px;
	margin: 0.5%;
	width: 400px;
}

div.course-card {
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px;
	padding: 10px;
	margin: 0.5%;
	text-align: center;
	width: 400px;
	display: none;
}

div.contact-card {
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px;
	padding: 20px;
	margin: 0.5%;
	text-align: center;
	width: 300px;
	height: 50px;
}

div.contact-card:hover {
	background-color: #e8c587;
}

/* Buttons */
button.semester {
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px;
	padding: 10px;
	width: 150px;
	margin: 0.5%;
	text-align: center;
}

button.semester:hover {
	background-color: #e8c587;
}

/* Link properties */
a.nohighlightlink:link {
	color: black;
	text-decoration: none; 
}


a.nohighlightlink:visited {
	color: black;
	text-decoration: none; 
}

/* generic properties */
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.center-nowrap {
	text-align: center;
	white-space: nowrap;
}

/* navbar */
ul.navbar {
	list-style-type: none;
	margin: 0.5%;
	padding: 0;
	overflow: hidden;
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px;
}

ul.navbar li {
	float: left;
}

ul.navbar li.right {
	float: right;
}

ul.navbar li a {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: #000;
	font: 16px Arial, sans-serif;
}

ul.navbar li a:hover {
	background-color: #e8c587;
}

/* terminal window */
.window-edge {
	width: 65%;
	background-color: #edd3a4;
	border: 2px solid #d6ad63;
	border-radius: 8px 8px 2px 2px;
	margin: 0.5%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

canvas {
	width: 100%;
	aspect-ratio: 16/9;
	margin-top: 2%;
	border-top: 2px solid #d6ad63;
}
